body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.status {
	@apply mb-2;
}
.app {
	@apply flex flex-col justify-center items-center;
}

.row {
	@apply flex justify-center;
}

.square {
	@apply border-black border w-12 h-12 flex justify-center items-center;
}