
.status {
	@apply mb-2;
}
.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.grid {
	@apply flex flex-col justify-center items-center;
}

.row {
	@apply flex justify-center;
}

.square {
	@apply border-black border w-20 h-20 flex justify-center items-center;
	@apply dark:bg-gray-300;
	&._0 {
		@apply rounded-tl-xl;
	}
	&._2 {
		@apply rounded-tr-xl;
	}
	&._6 {
		@apply rounded-bl-xl;
	}
	&._8 {
		@apply rounded-br-xl;
	}
}

.dark-toggle {
	@apply absolute top-0 right-0 m-4 bg-gray-100;
	@apply dark:bg-gray-800 dark:text-white;
}